.messenger {
  display: flex;
  height: calc(100vh - 70px);
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatMenuInput:focus {
  outline: none;
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatBoxTop {
  height: 100%;
  padding-right: 10px;
  overflow-y: scroll;
}

.chatBoxBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.chatMessageinput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  color: white;
  font-weight: 500;
  background-color: #1877f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  height: 100%;
  padding: 10px;
}

.noConversationText {
  position: absolute;
  top: 10%;
  color: rgb(224 220 220);
  font-size: 50px;
  text-align: center;
  cursor: default;
}
